# IOTA_CUSTOM_NODE_ENDPOINT=
# IOTA_CUSTOM_IDENTITY_PKG_ID=

# IOTA_MAINNET_IDENTITY_PKG_ID=
# IOTA_MAINNET_NODE_ENDPOINT=

NETWORK=testnet,custom

IOTA_CUSTOM_IDENTITY_PKG_ID=
IOTA_CUSTOM_NODE_ENDPOINT=
